@use '../../styles/variables' as v;
@use '../../styles/mixins' as m;

.testimonials__grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: v.$space-5;

  @include m.from(v.$bp-sm) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include m.from(v.$bp-lg) {
    grid-template-columns: repeat(4, 1fr);
  }
}
