@use "../../styles/variables" as v;
@use "../../styles/mixins" as m;

.team-preview__grid {
  display: grid;
  gap: v.$sp-4;
  grid-template-columns: repeat(2, 1fr);

  @include m.mq(md) {
    grid-template-columns: repeat(4, 1fr);
  }
}
