@use '../../styles/variables' as v;
@use '../../styles/mixins' as m;

.page {
  padding-bottom: 0;
}

.hero {
  background: v.$color-bg-inverse;
  padding-block: v.$space-64;

  @include m.mq(xs) {
    padding-block: v.$space-48;
  }
}

.list {
  padding-top: v.$space-24;
}
