@use "../styles/variables" as v;
@use "../styles/mixins" as m;

.featured-services__head {
  display: flex;
  flex-direction: column;
  gap: 18px;
  justify-content: space-between;
  align-items: flex-start;
  max-width: none;

  @include m.bp-md-up {
    flex-direction: row;
    align-items: flex-end;
  }
}

.featured-services__grid {
  display: grid;
  gap: 18px;
  grid-template-columns: 1fr;

  @include m.bp-sm-down {
    gap: 14px;
  }

  @include m.bp-md-up {
    grid-template-columns: repeat(3, 1fr);
    gap: 22px;
  }
}
